out/
.vs/
Library Files/Release/DiscordCoreAPI-DLL.ilk
Output Files/DiscordCoreAPI-Bot.exe
Output Files/DiscordCoreAPI-Bot.exe.manifest
Output Files/Release
Output Files/Debug
Output Files/Windows/Debug/DiscordCoreAPI-Bot.exe
Output Files/Windows/Debug/DiscordCoreAPI-DLL.ilk
Output Files/Windows/Release/DiscordCoreAPI-Bot.exe
Output Files/Windows/Release/DiscordCoreAPI-DLL.ilk
Output Files/Windows/Debug/msvcp140.dll
Output Files/Windows/Debug/msvcp140_atomic_wait.dll
Output Files/Windows/Debug/vcruntime140.dll
Output Files/Windows/Debug/vcruntime140_1.dll
Build/
Output Files/Windows/DiscordCoreAPI-Bot.exe.manifest
Output Files/Windows/DiscordCoreAPI-Bot.exe
Output Files/Windows/Release/DiscordCoreAPI-Bot.exe.manifest
